[submodule "intro-outro-generator"]
	path = intro-outro-generator
	url = git@github.com:realraum/intro-outro-generator.git
[submodule "r3voc-mgmt-ui"]
	path = r3voc-mgmt-ui
	url = git@github.com:realraum/r3voc-mgmt-ui.git
[submodule "r3voc-mgmt-backend"]
	path = r3voc-mgmt-backend
	url = git@github.com:realraum/r3voc-mgmt-backend.git
