[submodule "intro-outro-generator"]
	path = intro-outro-generator
	url = ../../realraum/intro-outro-generator.git
[submodule "r3voc-mgmt-backend"]
	path = r3voc-mgmt-backend
	url = ../../realraum/r3voc-mgmt-backend.git
